#{extends 'main.html' /}
#{set title:'Login' /}

<script type="text/javascript">
	$(function () {
		$('#lost-password-button').click(function (e) {
			e.preventDefault();
			
			if ($('input[type=email]').val() == '') {
				alert("Please enter your e-mail address");
			} else {
				$.ajax({
					  type: 'POST',
					  url: $(this).prop('href'),
					  data: { email: $('input[type=email]').val() }
					})
				  .done(function() {
					    alert( "An e-mail with a password reset link has been sent to your email address" );
					  })
				  .fail(function() {
				    alert( "No such e-mail found" );
				  });
			}
		});
	});
</script>

<div id="portfolio">
	<div id="showcase">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="project">
						<h3>Login</h3>
						    #{ifErrors}
						        <p class="alert alert-danger">
						            The username password combination you entered does not exist.
						        </p>
						    #{/ifErrors}	
						<p class="description">
							#{form @Secure.authenticate(), id: 'preference-selection-form' }
								<div class="form-group">
									<label for="email">Your E-Mail</label>
									<input class="form-control" name="username" type="email" />
								</div>
								<div class="form-group">
									<label for=password">Password</label>
									<input class="form-control" name="password" type="password">
								</div>
								<div>
									<input type="checkbox" checked name="remember" style="display: none;" />
									<button type="submit" class="button-clear" style="padding: 14px; margin-right: 20px;">Login</button>
									<a href="@{Account.register()}" class="button btn-success">Register</a>
									<a href="@{Account.lostPassword()}" id="lost-password-button">Lost password</a>
								</div>
							#{/form}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	
</script>