#{extends 'main.html' /}
#{set title:'Blog' /}

<div id="portfolio">
<div id="showcase">
		<div class="container">
			<div class="row header">
				<div class="col-md-12" align="center">
					<h1>Blog</h1>
					<p style="width: 100%;">On this page, you can find information about new features and news</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="project">
						<h3>Paperize.It is now available for everyone!</h3>
						<p align="center"><img src="/public/images/blog.png" alt="blog"></p>
						<div class="description">
							We are proud to be able to produce your own individualized magazine!<br>
							You just have to <a href="@{Account.register()}">register</a> and select your preferences, the rest will be done by us!
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
</div>