#{extends 'main.html' /}
#{set title:'Contact_us' /}

<div id="portfolio">
<div id="showcase">
		<div class="container">
				<div class="row header">
				<div class="col-md-12">
					<h1>Paperize.It Contact</h1>
					<div class="project">
					<h4>Sales support</h4>
						<p>Check the status of your order or change:<br>
						<a href="mailto:status@paperize.it">status@paperize.it</a><br>
						Tel.: 0800 / 12347809</p><br>

					<h4>For technical problems write us an e-mail or call us</h4> 
						<p><a href="mailto:problem@paperize.it">problem@paperize.it</a><br>
						Tel.: 0800 / 34657809</p><br>

					<h4>We are grateful for any feedback or advices so that we can improve our service</h4>
						<p><a href="mailto:feedback@paperize.it">feedback@paperize.it</a><br>
						Tel.: 0800 / 34657809</p><br>

					<h4>You can also write us a letter and send it to</h4>
						<p>
						Paperize.It<br>
						Boltzmannstraße 1<br>
						85748 Garching<br>
						Tel.: 089 / 09120912<br>
						<a href="www.paperize.it.com">www.paperize.it.com</a><br>
						<a href="mailto:info@paperize.it">info@paperize.it</a></p>
					
					</div>
				</div>
				</div>
		</div>
</div>
</div>