#{extends 'main.html' /}
#{set title:'Features' /}

<div id="portfolio">
<div id="showcase">
		<div class="container">
			<div class="row header">
				<div class="col-lg-12" style="text-align: center;">
					<h1>How to Paperize.it</h1>
					<p style="width: 100%;">It is really simple to create your individual magazine!<br></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="project">
						<h3>Select your preferences</h3>
						<p class="description">
							<div align="center"><font color="#ff0000" size="4">You can easily select your preferences...<br><br></font></div>
							<img src="/public/images/automatic.png" alt="automatic"> <font size="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...either by automatic selection via social network...<br>
							<p align="right">...or by manual selection&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/public/images/manual.png" alt="manual"></p></font>
						</p>
						<div class="divider"></div>
					</div>
					<div class="project">
						<a name="solution"></a>
						<h3>Get your individualized magazine</h3>
						<p class="description" align="center">
							After you have selected your preferences, we print your individualized magazine and deliver it to you!<br><br>
							<img src="/public/images/PDF-start.png" alt="First page"><img src="/public/images/PDF-first.png" alt="Welcome page">
						</p>
						<div class="divider"></div>
					</div>
					<div class="visit" align="center">
							<a href="@{Subscription.subscribe()}" class="button btn-success" style="font-size: 18pt;">Subscribe Now</a><br><br><br><br>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	</div>