#{extends 'main.html' /}
#{set title:'What is Paperize?' /}

<div id="portfolio">
<div id="showcase">
		<div class="container">
			<div class="row header">
				<div class="col-lg-12" style="text-align: center;">
					<h1>Welcome to Paperize.it</h1>
					<p style="width: 100%;">If you had ever tried to enjoy reading webbased News or Articles, Paperize.it is the only right way to do it! Really! We tell you why!</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="project">
						<a name="problem"></a>
						<h3>Why we don't like reading webbased News or Articles</h3>
						<div class="screen">
							<i class="fa fa-thumbs-o-down fa-5x" style="color: #ff0000;"> </i>
						</div>
						<p class="description">
							At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
						</p>
						<div class="divider"></div>
						<!-- div class="visit">
							<a class="button" href="portfolio-item.html">
								Visit Project Website
							</a>
						</div -->
					</div>
					<div class="project">
						<a name="solution"></a>
						<h3>What is our solution</h3>
						<div class="screen">
							<i class="fa fa-lightbulb-o fa-5x" style="color: #ff8c00;"> </i>
						</div>
						<p class="description">
							At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
						</p>
						<div class="divider"></div>
						<!--  div class="visit">
							<a class="button" href="portfolio-item.html">
								Visit Project Website
							</a>
						</div -->
					</div>
					<div class="project">
						<a name="yourpaper"></a>
						<h3>Your individualized paper for you</h3>
						<div class="screen">
							<i class="fa fa-book fa-5x" style="color: #3cb371;"> </i>
						</div>
						<p class="description">
							At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
						</p>
						<div class="divider"></div>
						<div class="visit">
							<a href="@{Paperize.subscribe()}" class="button btn-success" style="font-size: 18pt;">Subscribe Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	</div>