#{extends 'main.html' /}
#{set title:'Pricing' /}

<div id="portfolio">
<div id="showcase">
		<div class="container">
			<div class="row header">
				<div class="col-md-12" align="center">
					<h1>Pricing Information</h1>
					<img src="/public/images/pricing.png" alt="pricing">
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="project">
					<table border="1">
						<tr>
							<td>
								<table style="margin-top:20px; margin-bottom:20px;">
									<tr>
										<td>
											<h3>Preview</h3>
										</td>
									</tr>
									<tr>
										<td>
											<div class="description">
												<ul>
												<li>Access to your personalized headlines online</li><br>
												<li>Newsletter</li>
												</ul>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="description" style="color:#ff0000;" align="center"> 
												<font size="4"><b>FREE</b></font>
											</div>
										</td>
									</tr>
								</table>
							</td>
							<td>
								<table>
									<tr>
										<td>
											<h3>3 Month Trial</h3>
										</td>
									</tr>
									<tr>
										<td>
											<div class="description">
												<ul>
												<li>12 delivers of your individualized magazine</li><br>
												<li>Newsletter</li>
												</ul>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="description" style="color:#ff0000;" align="center"> 
												<font size="4"><b>35 €</b></font>
											</div>
										</td>
									</tr>
								</table>
							</td>
							<td>
								<table>
									<tr>
										<td>
											<h3>1 Year Subscription</h3>
										</td>
									</tr>
									<tr>
										<td>
											<div class="description">
												<ul>
												<li>48 delivers of your individualized<br>magazine for a special premium customer fee</li>
												<li>Newsletter</li>
												</ul>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="description" style="color:#ff0000;" align="center"> 
												<font size="4"><b>130 €</b></font>
											</div>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					</div>
				</div>
			</div>
		</div>
</div>
</div>