#{extends 'main.html' /}
#{set title:'Support' /}

<div id="portfolio">
<div id="showcase">
		<div class="container">
			<div class="row header">
				<div class="col-md-12" align="center">
					<h1>Support</h1>
					<p style="width: 100%;">For any problems, please search our FAQs for your question.
					<div align="center"><img src="/public/images/support.png" alt="support"></div></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="project">
						<h3>FAQs</h3>
						<div class="description">
							<style type="text/css"><!--
							div.FAQ:not(:target) div.SignUpAnswer, div.FAQ:target div.show, div.FAQ div.hide {
							display: none;
							}
							div.FAQ:target div.SignUpAnswer, div.FAQ:target div.hide {
							display: block;
							
							}
							--></style>
							<div class="FAQ" id="sign_up">
								<div class="show">
									<a title="FAQ" href="#sign_up">How do I sign up?</a>
								</div>
								<div class="hide" id="sign_up_close>
									<a href="#sign_up_close">How do I sign up?</a>
								</div>
								<div class="SignUpAnswer">
									You have two opportunities:
									<ol>
										<li>You click on login and then on register to get to the registration form. After finishing the filling in, we will send you an e-mail to verify your e-mail address. You can edit your preferences by clicking on my subscription.</li>
										<li>You click on subscribe now on the landing page. Than, you can firstly edit your preferences before being forwarded to the registration form. </li>
									</ol>
								</div>
							</div>
							<div class="divider"></div><br>
							<style type="text/css"><!--
							div.FAQ2:not(:target) div.Preferences, div.FAQ2:target div.show, div.FAQ2 div.hide {
							display: none;
							}
							div.FAQ2:target div.Preferences, div.FAQ2:target div.hide {
							display: block;
							
							}
							--></style>
							<div class="FAQ2" id="pref">
								<div class="show">
									<a title="FAQ2" href="#pref">How do I change the preferences?</a>
								</div>
								<div class="hide" id="pref_close>
									<a href="#pref_close">How do I change the preferences?</a>
								</div>
								<div class="Preferences">
									If you are logged in, you can change your preferences by clicking on my subscription.
								</div>
							</div>
							<div class="divider"></div>
						</div>
					</div>
							If you cannot find the answer to your question here, please <a href="@{Paperize.contactus()}">contact us</a>.<br><br><br>
				</div>
			</div>
		</div>
</div>
</div>