#{extends 'main.html' /}
#{set title:'Support' /}

<div id="portfolio">
<div id="showcase">
		<div class="container">
			<div class="row header">
				<div class="col-md-12" align="center">
					<h1>Support</h1>
					<p style="width: 100%;">For any problems, please search your questions within our FAQs.
					<div align="center"><img src="/public/images/support.png" alt="support"></div></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="project">
						<h3>FAQs</h3>
						<div class="description">
							This page is under construction. Soon, you will find a summary of the most important questions and answers.
							
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
</div>