#{extends 'main.html' /}
#{set title:'Your subscription' /}


<div id="portfolio">
	<div id="showcase">
			<div class="container">
				<div class="row header">
					<div class="col-md-12">
						<h1>Your subscriptions</h1>
					</div>
				</div>
					<div class="row">
						<div class="col-md-12">
							<div class="project">													
								<div class="description">
									<a href="@{Subscription.subscribe()}" class="button" style="margin: 10px; padding: 5px;">Create new subscription</a>
									<table class="table">
										<tr>
											<th>
												Date
											</th>
											<th>
												Delivered Magazines / Deliveries
											</th>
											<th>
											</th>
										</tr>
										#{list items:subs, as:'sub'}
											<tr>
												<td>${sub.dateStarted.format('dd MMMM yyyy')}</td>
												<td>${sub.deliveredIssues} / ${sub.subscriptionModel.deliveries}</td>
												<td><a href="@{Subscription.showSubscription(sub.id)}">Details</a></td>
											</tr>
										#{/list}
									</table>
								</div>		
							</div>
						</div>
					</div>
			</div>
		</div>
</div>