#{extends 'main.html' /}
#{set title:'Your subscription' /}


<div id="portfolio">
	<div id="showcase">
			<div class="container">
				<div class="row header">
					<div class="col-md-12">
						<h1>This is your Subscription</h1>
					</div>
				</div>
					<div class="row">
						<div class="col-md-12">
							<div class="project">													
								<div class="description">
									<h3>Subscription</h3>
									
									#{if sub.dateCanceled != null}
								        <p class="alert alert-danger">
								            This subscription has been canceled on ${sub.dateCanceled.format('dd MMMM yyyy')}!
								        </p>
							        #{/if}
									
									<table class="table-bordered paperize-table-padded">
										<tr>
											<td>Deliveries</td>
											<td>${sub.subscriptionModel.deliveries}</td>
										</tr>
										<tr>
											<td>Delivered magazines</td>
											<td>${sub.deliveredIssues}</td>
										</tr>
										<tr>
											<td>Start Date</td>
											<td>${sub.dateStarted.format('dd MMMM yyyy')}</td>
										</tr>
										<tr>
											<td>Name</td>
											<td>${sub.user.firstName} ${sub.user.lastName}</td>
										</tr>
										<tr>
											<td>Street</td>
											<td>${sub.user.street}</td>
										</tr>
										<tr>
											<td>Town</td>
											<td>${sub.user.postalCode} ${sub.user.town}</td>
										</tr>
									</table>

									<h3>Interesting topics</h3>
									<ul>
										#{list items:sub.preferences, as:'preference'}
										    <li>${preference.preference.name}</li>
										#{/list}
									</ul>
									<br />
									
									<hr />
									
									<h3>Sources you like</h3>
									<ol>
										#{list items:sub.sourceBias.findAll{ bias->bias.bias > 0 }.sort{ bias->bias.bias * (-1) }, as:'bias'}
											<li>${bias.source.name}</li>
										#{/list}
									</ol>
									
									<h3>Sources you don't want us to use</h3>
									<ul>
										#{list items:sub.sourceBias.findAll{ bias->bias.bias == -1 }, as:'bias'}
											<li>${bias.source.name}</li>
										#{/list}
									</ul>
								</div>		
								<br />						
								<hr />
								<div style="text-align: right;">
									#{if sub.dateCanceled == null}
										<a href="@{Subscription.cancelSubscription(sub.id)}" style="margin-right: 10px;" onClick="return confirm('Are you sure you want to cancel this subscription?');">Cancel subscription</a>
									#{/if}
									<a href="/" class="button btn-success">Home</a>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
</div>