#{extends 'main.html' /}
#{set title:'Login' /}

<script type="text/javascript">
</script>

<div id="portfolio">
	<div id="showcase">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="project">
						<h3>Login</h3>
						    #{ifErrors}
						        <p class="alert alert-danger">
						            Passwords have to match!
						        </p>
						    #{/ifErrors}	
						<p class="description">
							#{form @Account.resetPasswordPost() }
								<div class="form-group ${errors.forKey('password') ? 'has-error' : ''}">
									<label for="password">New password</label>
									<input class="form-control" type="password" name="newPassword" />
								</div>
								<div class="form-group ${errors.forKey('passwordRepeat') ? 'has-error' : ''}">
									<label for="passwordRepeat">Re-type new password</label>
									<input class="form-control" type="password" name="newPasswordRepeat" />
								</div>
								<div>
									<input type="hidden" value="${resetPasswordToken}" name="resetPasswordToken" />
									<button type="submit" class="button-clear" style="padding: 14px; margin-right: 20px;">Set new password</button>
								</div>
							#{/form}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>